# BlackList Everything
*
!*/

# Track these files
!.gitignore
!.README.md

# Backend Files
!/backend/README.md
!/backend/package*
!/backend/server.js

# Frontend Files
!/frontend/README.md
!/frontend/public/*
!/frontend/src/**
!/frontend/package*