# BlackList Everything
*
!*/

# Track these files
!.gitignore
!.README.md

# Backend Files
!/backend/README.md
!/backend/package*
!/backend/server.js
!/backend/db/**
!/backend/connection/**
!/backend/lib/**
!/backend/routes/**
!/backend/Dockerfile
!/backend/.dockerignore

# Frontend Files
!/frontend/README.md
!/frontend/public/*
!/frontend/src/**
!/frontend/package*